:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}